@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab);b

.main{
         border-style: dashed;
         font-family: 'roboto', sans-serif;
     }
     
.main1{
         font-family: 'Roboto Slab', serif;
}